<html>
    <body>
        <table width="100%">
		    <tr>
			    <td>
				    <table width="600" align="center">
				        <tr>
				            <td><h1>@RenderSection("Header")</h1></td>
				        </tr>
				        <tr>
				            <td style="padding-top: 20px;" align="left">@RenderBody()</td>
				        </tr>
                        <tr>
				            <td><h1>@RenderSection("Footer")</h1></td>
				        </tr>
				    </table>
			    </td>
		    </tr>
	    </table>
    </body>
</html>