@{
    Layout = "SendMailMessageWithLayoutAndSections.MailLayout.cshtml"; 
}
<p>@section Header{ This is the header }</p>
<p style="font-weight: bold;">Hi @Model.Name</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mi risus, semper sit amet lorem sed, tincidunt posuere orci. Vivamus quis accumsan magna. Ut massa magna, fringilla in nibh in, ultrices pretium tortor. Donec erat nulla, hendrerit non felis non, dictum ornare velit. Nulla eget ipsum non nisi sollicitudin varius vel sit amet elit. Quisque nec ipsum nec sem eleifend pretium. Nunc congue malesuada velit. Cras porta nibh sit amet dolor iaculis, ut fermentum elit posuere.</p> 

<p>Nulla ut augue eu ipsum tincidunt ornare. Donec a orci sed ipsum semper luctus quis vel tellus. Morbi risus velit, gravida venenatis porta suscipit, dictum at est. Vivamus vitae erat diam. Nam a tellus dui. Ut nec dui eget purus eleifend interdum eu ac lacus. Donec sed nisi id sem condimentum congue. Sed et felis et dolor tincidunt pharetra vitae ut tortor. Sed sit amet eros nibh. Praesent at velit diam. Donec rutrum mauris id volutpat faucibus. Donec semper, leo in faucibus vehicula, lacus ligula porttitor urna, vitae cursus magna diam at dui. Duis placerat congue dapibus. Fusce dapibus quis sapien id sodales. In porttitor mauris id dignissim consequat.</p>

<p>Pellentesque pulvinar dolor vitae urna varius, non cursus urna eleifend. Quisque nec nisi nec ante tristique volutpat. Proin scelerisque pulvinar consectetur. In cursus aliquet tellus eu condimentum. Sed sagittis at sapien eget ultrices. Maecenas venenatis leo at lectus pellentesque, non aliquet erat tincidunt. Sed gravida aliquam placerat. Donec pretium lacus ac purus semper tristique. Vestibulum eu tortor neque. Nulla non cursus tortor. Praesent vitae erat vel nisl auctor rhoncus non sed magna.</p>

<p>Kind regards,<br/>
    <br/>
    Skaele Software Development
</p>
<p>@section Footer{ This is the footer }</p>

